---
import Layout from '../../layouts/Layout.astro';
import { login } from './login';
import  LoginComponent from '../../components/Login/LoginComponent';
import { isLoggedIn } from '../../utils/auth';

if (isLoggedIn()) {
  return Astro.redirect("/photos");
}
---


<Layout title="Ruby & Owen 2022">
    <main>
    <div class="min-w-full min-h-screen flex flex-col justify-center items-center" >
		<!-- We will use the javascript here, need hydration -->
		<LoginComponent client:visible />
	</div>
    </main>
</Layout>
 