.the-day {
    padding: 0.15rem;
    position: relative;
}

.the-day-title{
    display: block;
}

.the-day-content{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.the-day-icon{
	display: flex;
    flex-direction: column;
	height: 4rem;
	width: 4rem;
    margin: 2rem
}

.google-icon{
    display: flex;
    flex-direction: column;
    height: 4rem;
    width: 4rem;
    margin: 1rem 2rem 0.5rem 2rem;
}

.google-content{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.google-map{
    display: flex;
    flex-direction: column;

}

.google-title-content{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.google-title{
    margin-top: 3rem;
    vertical-align: middle;
}

.the-day-text-section {
    display: flex;
	flex-direction: column;
}
.the-day-text{
    display: block;
}

.venue-image {
    width: 100%;
    max-width: 30rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
}

h3 {
    margin-bottom: 0;
    font-family: "HomemadeApple";
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

p {
    margin-top: 0.75rem;
    margin-bottom: 0;
}
