---
import Layout from "../layouts/Layout.astro";
import AccommodationComponent from "../components/Accommodation.astro";
---
<Layout title="Accommodation">
  <main>
    <AccommodationComponent id="accommodation-section" />
  </main>
</Layout>
