---
import Layout from "../layouts/Layout.astro";
import GiftsComponent from "../components/Gifts.astro";
---
<Layout title="Gifts">
  <main>
    <GiftsComponent id="gifts-section" />
  </main>
</Layout>
