---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Welcome from "../components/Welcome.astro";
import NavItem from "../components/Navbar/NavItem.astro";
import Navbar from "../components/Navbar/Navbar.jsx";

const welcomeSectionId = "welcome-section";

const navbarProperties = [
	{ "aria-label":"Welcome", text:"Welcome", href:"/"},
	{ "aria-label": "The Day Section", text: "The Day", href: "/the-day" },
	{
		"aria-label": "Accommodation Section",
		text: "Accommodation",
		href: "/accommodation"
	},
	{
		"aria-label": "Transport Section",
		text: "Transport",
		href: "/transport"
	},
	{ "aria-label": "Gifts Section", text: "Gifts", href: "/gifts" },
	{
		"aria-label": "The Send Off Section",
		text: "The Send Off",
		href: "/send-off",
	},
];


const googleApiKey = import.meta.env.PUBLIC_GOOGLE_API_KEY;
const loveBirdsIcon = "/icons/generalSections/011-birds.png";
---

<Layout title="Tom & Bryony 2026">
	<main>
		
		<Hero />
		<h1>Tom & Bryony</h1>
		<h2>27th June 2026</h2>

		<Welcome id={welcomeSectionId} />

		<ul role="list" class="section-layout">
			{navbarProperties.map(({ href, text, "aria-label": ariaLabel }) => (
				<li>
				<a class="nav-button" href={href} aria-label={ariaLabel}>
					{text}
				</a>
				</li>
  			))}
		</ul>
	</main>
</Layout>

<style>
	:root {
	}

	
</style>
