---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Welcome from "../components/Welcome.astro";

const welcomeSectionId = "welcome-section";

const navbarProperties = [
	{ "aria-label":"Welcome", text:"Welcome", href:"/"},
	{ "aria-label": "The Day Section", text: "The Day", href: "/the-day" },
	{
		"aria-label": "Accommodation Section",
		text: "Accommodation",
		href: "/accommodation"
	},
	{
		"aria-label": "Transport Section",
		text: "Transport",
		href: "/transport"
	},
	{ "aria-label": "Gifts Section", text: "Gifts", href: "/gifts" },
	{
		"aria-label": "The Send Off Section",
		text: "The Send Off",
		href: "/send-off",
	},
];

---

<Layout title="Tom & Bryony 2026">
	<!-- Shown while we check auth -->
	<main id="checking" class="p-6">
		<h1>Checking access…</h1>
	</main>

	<!-- Hidden until access granted -->
	<main id="content" class="hidden">
		<Hero />
		<h1>Tom & Bryony</h1>
		<h2>27th June 2026</h2>

		<Welcome id={welcomeSectionId} />

		<ul role="list" class="section-layout">
		{navbarProperties.map(({ href, text, "aria-label": ariaLabel }) => (
			<li>
			<a class="nav-button" href={href} aria-label={ariaLabel}>
				{text}
			</a>
			</li>
		))}
		</ul>
	</main>

	<script type="module">
		import { requireInvited } from "../lib/requireInvited";
		import { supabase } from "../lib/supabaseClient";

		(async () => {
			const checking = document.getElementById("checking");
			const content = document.getElementById("content");

			const ctx = await requireInvited();
			if (!ctx) return; 

			const { groupId } = ctx;
			const { data: rsvp } = await supabase
				.from("rsvp")
				.select("group_id")
				.eq("group_id", groupId)
				.maybeSingle();

			// if (!rsvp) {
			// 	window.location.replace("/rsvp");
			// 	return;
			// }

			// Show the page
			checking.classList.add("hidden");
			content.classList.remove("hidden");
    	})();
  	</script>
</Layout>

<style>
	:root {
	}

	.hidden { display: none; }
	
</style>
