---
import Layout from "../layouts/Layout.astro";
import Schedule from "../components/Schedule/Schedule";
---
<Layout title="Schedule">
  <main>
    <h3>Schedule</h3>
    <Schedule client:load />
  </main>
</Layout>
