---
import Layout from "../layouts/Layout.astro";
import SendOffComponent from "../components/SendOff.astro";
---
<Layout title="The Send Off">
  <main>
    <SendOffComponent id="send-off-section" />
  </main>
</Layout>
