---
import Layout from "../layouts/Layout.astro";
import TransportComponent from "../components/Transport.astro";
---
<Layout title="Transport">
  <main>
    <TransportComponent id="transport-section" />
  </main>
</Layout>
