---
export interface Props {}

const heroImage = "tom_and_b_hero.JPG";
---

<div>
    <img class="hero-image" src={heroImage} />
</div>

<style>
    .hero-image {
        margin-top: 3rem;
        border-radius: 60%;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
</style>
