---
export interface Props {
	title: string;
	body: string;
	href: string;
	id: string;
}
const { href, title, body, id } = Astro.props;
---

<li {id} class="section">
	<a href={href}>
		<h3>
			{title}
		</h3>
		<p>
			{body}
		</p>
	</a>
</li>
<style>
	:root {}

	.section {
		list-style: none;
		display: flex;
		padding: 0.15rem;
		background-image: var(--link-gradient);
		background-size: 400%;
		border-radius: 0.5rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	.section>a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1em 1.3em;
		border-radius: 0.35rem;
		color: var(--color-text);
		background-color: var(--color-bg, #CBD588);
		opacity: 0.8;
	}

	h2 {
		margin: 0;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	p {
		margin-top: 0.75rem;
		margin-bottom: 0;
	}

	h2 span {
		display: inline-block;
		transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
	}
</style>