---
import NavButton from "./NavButton.astro";

const {id} = Astro.props;
---

<div id={id} class="welcome-main">
    <div class="section-content">
        <div class="section-content-text-block">
            <p>
                Hello! We are so excited to celebrate our special day with you in our local on June 27th 2026.
                We want to start off with a huge heartfelt thank you to all of you for being part of our lives
                and we can&#39;t wait to have you in attendance.
            </p>
            <p>
                It&#39;s going to be a privilege and honour to be surrounded by our friends and family, in a place
                that we love, and create some memories we are sure will last forever from ceremony to disco.
            </p>
            <p>
                Most of the information you will need about the day you can find on this website, including venue
                details, areas to stay and how to get there, a draft schedule, and FAQs.
            </p>
            <p>
                You should have already received a formal invite with a link to RSVP. If you can&#39;t find this,
                please just get in touch. Please respond no later than <strong>May 16th 2026</strong>.
            </p>
            <NavButton href="/rsvp">
                RSVP
            </NavButton>
            <p>
                You can get in touch with Tom on <a href="tel:07538379990">07538379990</a>
                or Bryony on <a href="tel:07958116417">07958116417</a>.
            </p>
            <p>
                Thank you so much again, we will see you on the dancefloor!
            </p>
            <p>
                P.S. There is no obligation to purchase a wedding gift, however if you would like to contribute to
                our honeymoon to Singapore, Melbourne, Byron Bay, and Auckland, you will find the link on the
                <a href="/gifts">gifts page</a>. Please don&#39;t feel like you have to donate, your presence is enough of a gift!
            </p>
            <p class="sign-off">Lots of love, Tom, Bryony, and Spike xx</p>
        </div>
    </div>

</div>

<style>
    .welcome-main {
        margin-top: 3rem;
    }
   
</style>
