---
import NavButton from "./NavButton.astro";

const {id} = Astro.props;
---

<div id={id} class="welcome-main">
    <div class="section-content">
        <div class="section-content-text-block">
            <p class="welcome-body"></p><p>We are getting married!</p>
            <p>
                Welcome to our wedding website - we&#39ve created this page as a
                helpful resource for our guests&#39 visit to Manchester. Here you&#39ll find information on our plans
                for the day, transport and local accommodation options.
            </p>
            <p>
               Please RSVP as soon as possible by clicking below:
            </p>
            <NavButton href="/rsvp">
                RSVP
            </NavButton>
            <p>
                We can&#39t wait to celebrate with all of our favourite people!
            </p>
            <p>All our love</p>
            <p>Tom & B xxx</p>
        </div>
    </div>

</div>

<style>
    .welcome-main {
        margin-top: 3rem;
    }
   
</style>
